@import url('https://fonts.googleapis.com/css?family=Anton|Cinzel+Decorative|Fira+Sans|Galada|Lato|Lobster|Lora|Merriweather|Pattaya|Questrial|Quicksand');
.background-video {
    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    padding: none;
    position: fixed;
}

.brio-main {
    z-index: 3;
}


/*
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 2;
}

video,
.ie8-poster {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: fill;
    /* z-index: 1; 
}
    */


/* Style the video: 100% width and height to cover the entire window */


/* Add some content at the bottom of the video/page */

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}


/* Navbar */

@media (min-width:992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        transition: padding-top .3s, padding-bottom .3s;
        border: none;
        background-color: transparent;
    }
}

#mainNav {
    background-color: #212529;
}

.fixed-bottom,
.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.fixed-top {
    top: 0;
}

.bg-dark {
    background-color: #343a40!important;
}

@media (min-width:992px) {
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

.navbar,
.navbar>.container,
.navbar>.container-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar {
    position: relative;
    padding: .5rem 1rem;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

@media (min-width:992px) {
    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

@media (max-width:991.98px) {
    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

.navbar,
.navbar>.container,
.navbar>.container-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #fec503;
}

@media (min-width:992px) {
    #mainNav .navbar-brand {
        font-size: 1.75em;
        transition: all .3s;
    }
}

#mainNav .navbar-brand {
    color: #fed136;
    font-family: Kaushan Script, Helvetica Neue, Helvetica, Arial, cursive;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
    color: #fff;
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none;
}

a:hover {
    color: #fec503;
}

a:hover {
    color: #e6b301;
    text-decoration: underline;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

a {
    color: #fed136;
}

a {
    text-decoration: none;
    background-color: transparent;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background-color: #fed136;
    font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navbar-dark .navbar-toggler {
    color: hsla(0, 0%, 100%, .5);
    border-color: hsla(0, 0%, 100%, .1);
}

@media (min-width:992px) {
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
}

button,
select {
    text-transform: none;
}

button,
input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}

@media (min-width:992px) {
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

.collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width:992px) {
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.text-uppercase {
    text-transform: uppercase!important;
}

.ml-auto,
.mx-auto {
    margin-left: auto!important;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

dl,
ol,
ul {
    margin-top: 0;
}

address,
dl,
ol,
ul {
    margin-bottom: 1rem;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
}

@media (min-width:992px) {
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em!important;
    }
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #fff;
    font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: hsla(0, 0%, 100%, .75);
}

.navbar-dark .navbar-nav .nav-link {
    color: hsla(0, 0%, 100%, .5);
}

@media (min-width:992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none;
}

a:hover {
    color: #fec503;
}

a:hover {
    color: #e6b301;
    text-decoration: underline;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

a {
    color: #fed136;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.margin-bottom {}

.video-container {
    position: relative;
}

video {
    height: auto;
    vertical-align: middle;
    width: 100%;
}

.overlay-desc {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brio-text {
    color: white;
    font-family: 'Lobster', sans-serif;
    font-size: 9vw;
    text-align: center;
}

.brio-headline {
    display: flex;
    flex-direction: column;
}