/* .background-video {
    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    padding: none;
    position: fixed;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 2;
}

video,
.ie8-poster {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: fill;
    /* z-index: 1; 
}
    */


/* Style the video: 100% width and height to cover the entire window */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


/* Add some content at the bottom of the video/page */

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.hero-bkg-animated {
    background: gray url(https://media0.giphy.com/media/9YNAim10KNUeA/giphy.gif);
    background-size: cover;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 3000px;
    padding-top: 120px;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
}

.hero-bkg-animated h1 {
    font-family: sans-serif;
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -400px 0;
    }
}