@import url('https://fonts.googleapis.com/css?family=Anton|Cinzel+Decorative|Fira+Sans|Galada|Lato|Lobster|Lora|Merriweather|Pattaya|Playfair+Display|Questrial|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Merriweather+Sans|Mukta');
.background-video {
    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    padding: none;
    position: fixed;
}

body {
    background-color: #f7f7f7!important;
}


/* Navbar */

@media (min-width:992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        transition: padding-top .3s, padding-bottom .3s;
        border: none;
        background-color: transparent;
    }
}

.navbarstyle {
    background-color: #495057!important;
}

.brand-properties {
    font-family: Lobster;
}

.navbar-brand {
    font-size: 2.5rem!important;
}

.nav-link {
    color: rgb(255, 255, 255)!important;
    font-family: "fira sans";
    font-size: 1.3rem;
}

.card-margin {
    margin-top: 3rem;
}

.navbar-dark .navbar-toggler {
    color: hsla(0, 0%, 100%, .5);
    border-color: hsla(0, 0%, 100%, .1);
}


/* Add some content at the bottom of the video/page */

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.margin-bottom {
    margin-bottom: 15rem;
}


/* Brio Text */

.overlay-desc {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brio-text {
    color: white;
    font-family: 'Lobster', sans-serif;
    font-size: 9.5rem;
    text-align: center;
}

.brio-headline {
    display: flex;
    flex-direction: column;
}


/* Headline Curve */

.estrellas {
    width: 220px;
    height: 490px;
    margin: 0 auto;
    font-size: 5vw;
    font-family: 'Lobster', sans-serif;
}

.estrellas span {
    position: absolute;
    bottom: 0;
    width: 7vw;
    line-height: 200px;
    height: 200px;
    margin-left: -35px;
    /* height*2 - font-size */
    text-align: center;
    transform-origin: top center;
}

.estrellas span:nth-of-type(1) {
    transform: rotate(75deg);
}

.estrellas span:nth-of-type(2) {
    transform: rotate(50deg);
}

.estrellas span:nth-of-type(3) {
    transform: rotate(25deg);
}

.estrellas span:nth-of-type(4) {
    transform: rotate(0deg);
}

.estrellas span:nth-of-type(5) {
    transform: rotate(-25deg);
}

.estrellas span:nth-of-type(6) {
    transform: rotate(-50deg);
}

.estrellas span:nth-of-type(7) {
    transform: rotate(-75deg);
}


/* Inverse Here */

.inverso {
    font-weight: bold;
}

.inverso span {
    line-height: 70px;
    transform-origin: bottom center;
    border: ;
    /* Only for seeing trick */
}


/* NEW CSS */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Responsive Video in Home */

.video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

.video-wrapper video {
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Home Button */

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(241, 46, 141, .5);
}

.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(238, 9, 121, .5);
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: white!important;
    border-color: #00adad!important;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(241, 46, 141, .5);
}

.btn-primary:hover {
    color: #fff;
    background-color: #c90866;
    border-color: #bd0760;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(238, 9, 121, .25);
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

a:hover {
    color: #a40654;
    text-decoration: underline;
}

.btn-primary {
    background-color: #2c3e50;
    border-color: #00adad;
}

.rounded-pill {
    border-radius: 5rem;
}

.btn-xl {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem;
}

.mt-5 {
    margin-top: 3rem!important;
}

.rounded-pill {
    border-radius: 50rem!important;
}

.btn-primary {
    color: #fff;
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none;
    }
}

a {
    color: #ee0979;
    text-decoration: none;
    background-color: transparent;
}

.home-margin {
    margin-top: 26rem;
}

.workout-margin {
    margin-top: 4.5rem;
}


/* Workout Jumbo */

.workout-jumbo {
    position: relative;
    text-align: center;
    color: white;
}

.workout-text {
    font-family: "josefin sans";
    font-size: 9vw;
    font-weight: bold;
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* Form */

.clean-block.clean-form form {
    border-top: 2px solid #5ea4f3;
    background-color: #fff;
    max-width: 500px;
    margin: auto;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button,
input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

select.form-control[multiple],
select.form-control[size],
textarea.form-control {
    height: auto;
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

textarea {
    overflow: auto;
    resize: vertical;
}

.clean-block.clean-form form {
    border-top: 2px solid #5ea4f3;
    background-color: #fff;
    max-width: 500px;
    margin: auto;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
}


/* Recipe Form Jumbotron */

.recipe-jumbotron {
    background-color: rgb(62, 70, 79)!important;
}

.individual-underline {
    border-bottom: 1px solid rgb(99, 92, 92);
    margin-top: 3rem;
}


/* Ingredient Decoration */

.ingredient-decor {
    text-decoration: none;
    border: none;
}

.individual-recipe-margin {
    margin-top: 10rem;
}


/* Recipe Form Marin */

.recipe-form-margin {
    margin-bottom: 2rem;
}

.ingredient-card {
    background: rgb(62, 70, 79)!important;
}

.workouts-margin {
    margin-top: 14rem;
}

.workout-delete-margin {
    margin-top: 3rem;
    margin-right: 2rem;
}

.workout-link {
    color: white;
    text-decoration: none;
}

.workout-link:hover {
    color: rgb(183, 180, 180);
    text-decoration: #00adad;
    font-size: 1.9rem;
}


/* Flex Wrap for cards */

.card-flex {
    display: flex!important;
    flex-wrap: wrap!important;
    justify-content: space-around!important;
}

.audio-margin {
    margin: 0 3rem;
}

.audio-card-margin {
    margin-bottom: 3rem;
}